<div class="modal-dialog modal-sm">
  	<div class="modal-content">
		<div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    	<h4>Open Model...</h4>
	  	</div>
	  	<div class="modal-body">
			<div class="input-group">
				<span class="input-group-btn"> 
					<span class="btn btn-default btn-file">
					    Browse <input type="file" class="form-control" name="schema_file" id="schema_file">
					</span>
				</span>
				<input type="text" class="form-control" readonly>
		    </div>
	  	</div>
	  	<div class="modal-footer">
	    	<a href="#" class="btn" data-dismiss="modal">Cancel</a>
	    	<button class="btn btn-primary" 
	    	   data-bind="click:submit">
	    	   Open
	    	</button>
	  	</div>
	</div>
</div>