
/* Override the validation, notification and errors to bootstrap values */
.validationMessage { 
	color: #d9534f; 
}
.notifications .close{
	margin-left: 1em;
}
.notifications {
  z-index: 1040;
}
.notifications .alert{
  padding: 10px;
}
.error{
	color: #d9534f;
}

/* color danger modals as buttons */
.modal-header.bg-danger {
   background:#d9534f;
   color: white;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.panel-heading button.close{
	position: relative;
	top: -2px;
	margin-left: 12px;
}