.inspector .panel-heading .btn {
	padding: 4px 10px;
	position: relative;
	top: -6px;
	left: 10px;
}

.inspector cursor-table > .table-responsive {
    width: 100%;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 0px solid #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.inspector .table-responsive>.table {
    border-width: 0px;
    margin-bottom: 0;
}

.inspector .table-responsive>.table>thead>tr>th, 
.inspector .table-responsive>.table>tbody>tr>th, 
.inspector .table-responsive>.table>tfoot>tr>th, 
.inspector .table-responsive>.table>thead>tr>td, 
.inspector .table-responsive>.table>tbody>tr>td, 
.inspector .table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
}

.inspector .search-row{
	border-top: 1px solid #ddd;
}

.inspector thead tr.search-row th{
	padding: 0;
	margin: 0;
}
.inspector .search-row input[type=text]{
	width:100%;
	border:0px;
    padding: 4px 6px; 
}

.inspector ul.pagination.pull-right{
	margin: 0;
}


.inspector tr.selected {
  background-color: #B0BED9;
}

.sort-visible-panel hr{
    margin-top: 4px;
    margin-bottom: 4px;
}